@page "/consulta-contrato"
@using MiniMundo.DAL.Model.Entity
@using MiniMundo.WebApp.Controller
@rendermode InteractiveServer
@inject ContratoController contratoController
@inject IJSRuntime JSRuntime

<PageTitle>Contratos</PageTitle>

<div class="container-fluid">
    <div class="row px-3">
        <div style="display: grid; grid-template-columns: repeat(2, 400px); gap: 10px;">
            @if (contratos == null)
            {
                <p><em>Carregando...</em></p>
            }
            else
            {
                <table>
                    <thead>
                        <tr>
                            <th>Descrição Contrato</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var contrato in contratos)
                        {
                            <tr>
                                <td>@contrato.Descricao</td>
                                <td>
                                    <button class="btn btn-outline-success" @onclick="() => EditarContrato(contrato)">Editar</button>
                                    <button class="btn btn-outline-warning" @onclick="() => ExcluirContrato(contrato.ContratoId)">Excluir</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            <div style="flex: 1; min-width: 40%;">
                <!-- Formulário de edição -->
                @if (contratoSelecionado != null)
                {
                    <h5>Editar Contrato</h5>
                    <EditForm Model="contratoSelecionado" OnInvalidSubmit="SalvarContrato">
                        <div>
                            <input id="valor" type="text" placeholder="Digite uma Nova Descrição" @bind="contratoSelecionado.Descricao" />
                        </div>
                        <button type="submit">Salvar</button>
                    </EditForm>
                }
            </div>
        </div>
    </div>
</div>

@code {
    private List<Contrato> contratos;
    private Contrato contratoSelecionado;

    protected override async Task OnInitializedAsync()
    {
        contratos = await contratoController.BuscarContratosAsync();
    }

    private void EditarContrato(Contrato contrato)
    {
        contratoSelecionado = contrato;
    }

    private async Task SalvarContrato()
    {
        await contratoController.AtualizarContratoAsync(contratoSelecionado);
        contratoSelecionado = null;
        contratos = await contratoController.BuscarContratosAsync();
    }

    private async Task ExcluirContrato(int contratoId)
    {
        bool confirmacao = await JSRuntime.InvokeAsync<bool>("confirm", $"Tem certeza que deseja excluir o contrato {contratoId}?");
        if (confirmacao)
        {
            await contratoController.ExcluirContrato(contratoId);
            contratos = await contratoController.BuscarContratosAsync();
        }
    }
}
